/* GENERICS */
footer ul {
    list-style-type: none;
}

ul li a {
    color: inherit;
    text-decoration: none;
}

.bg-white {
    background-color: #FFF;
}

.btn.pills {
    border-radius: 20px !important;
}

.btn.buy-btn {
    background-color: #CD3D0F;
    color: #FFF;
}

.btn.explore-btn {
    background-color: lightgrey;
    border-color: lightgrey;
}

.title-img {
    width: 50%;
}

/**********
HEADER
**********/
header .upper-header {
    background-color: #111;
}

header .upper-header img {
    width: 80px;
}

header .navbar .nav-item img {
    width: 60%;
}

/**********
MAIN
**********/
/* JUMBOTRON */
#jumbotron {
    padding-top: 100px;
}

#jumbotron .upper-jumbotron {
    height: 80vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#jumbotron .upper-jumbotron .container,
#jumbotron .upper-jumbotron .row {
    height: 100%;
}

#jumbotron .bottom-jumbotron .row img {
    cursor: pointer;
    transition: all .5s;
}

/* PRIMA SEZIONE - PLAYSTATION 5 */
#playstation-5 .text-center>span {
    color: #0064b7;
}

#playstation-5 .container .row .hover-border {
    cursor: pointer;
}

#playstation-5 .row .hover-border {
    opacity: .5;
}

/* SECONDA SEZIONE - NUOVE USCITE */
#new-release .section-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#new-release .section-bottom {
    background-color: #1F1F1F;
    color: #FFF;
}

#new-release .section-bottom img {
    cursor: pointer;
}

/* TERZA SEZIONE - PLAYSTATION 4 */
#playstation-4 .container .row p {
    min-height: 4.5rem;
}

/* QUARTA SEZIONE - PLAYSTATION PLUS */
#playstation-plus {
    background-color: #BEBCBB;
}

#playstation-plus .title-img {
    width: 60%;
}

/* SESTA SEZIONE - PLAYSTATION NOW */
#playstation-now {
    color: #FFF;
    background-color: #161C3B;
}

/**********
FOOTER
**********/
footer {
    background-color: #00439C;
    color: #FFF;
}

footer .language-logo img {
    width: 1rem;
}

footer .footer-bottom .logo img {
    width: 8rem;
}

footer .footer-bottom p>a {
    color: inherit;
}